# EmailJS – get these from https://www.emailjs.com/ (create a service, template, and use your public key)
# Template should use variables: {{from_name}}, {{from_email}} and send to sharanuaradhya0511@gmail.com
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
